@import './base.css';
@import url('https://fonts.googleapis.com/css?family=Inter');

html,
body {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
}

a {
  color: var(--white);
  &:hover {
    color: var(--orange);
  }
}
